
numpy==1.26.4
pandas==2.2.3
scipy==1.13.1


scikit-learn==1.6.1
joblib==1.4.2
matplotlib==3.9.2  # src/huijae_example.py 플로팅용


prophet==1.1.6
cmdstanpy==1.2.5
holidays==0.58


plotly==5.24.1
dash==2.18.2

reportlab==4.4.10
openpyxl==3.1.5

ipykernel==6.29.5


nbstripout==0.7.1
pytest==8.3.3
